---
import Resistor from '../components/Resistor.astro';
import Layout from '../layouts/Layout.astro';

const BANDS = (Math.round(Math.random()*2)+3).toString()
const RESISTANCE = (Math.round(Math.random()*Math.pow(10, 9))).toString()
const TOLERANCE = ["1%", "2%", "0.05%", "0.02%", "0.5%", "0.25%", "0.1%", "0.01%", "5%", "10%"][Math.round(Math.random()*10)]

let resistanceAnswer = 0;
if(BANDS == "3" || BANDS == "4") {
	resistanceAnswer = (Math.round(Number(RESISTANCE)/Math.pow(10, (RESISTANCE.length-2)))*Math.pow(10, (RESISTANCE.length-2)));
} else if(BANDS == "5") {
	resistanceAnswer = (Math.round(Number(RESISTANCE)/Math.pow(10, (RESISTANCE.length-3)))*Math.pow(10, (RESISTANCE.length-3)));
}

let shortenedResistance = "";
let resistanceAnswerLen = resistanceAnswer.toString().length
if(resistanceAnswerLen > 3 && resistanceAnswerLen <= 6) {
	shortenedResistance = resistanceAnswer/1000 + "k"
} else if(resistanceAnswerLen > 6 && resistanceAnswerLen <= 9) {
	shortenedResistance = resistanceAnswer/1000000 + "M"
} else if(resistanceAnswerLen > 9) {
	shortenedResistance = resistanceAnswer/1000000000 + "G"
}
---

<Layout title="Test your Resistors">
	<main>
		<a href="/">
			<img id="home-button" src="home.svg" alt="Home"/>
		</a>
		<div id="resistor-holder">
			<Resistor 
				bands={BANDS} 
				ohms={RESISTANCE} 
				tolerance={TOLERANCE}
			/>
		</div>
		<div id="resistance-input-holder">
			<label><input id="resistance-input" placeholder="Resistance" pattern="^[0-9.]+[0-9kKmMgG]?$"/>Ω</label>
			<button class="resistance-button" id="resistance-submit">Submit</button>
		</div>
		<div id="resistance-extra-buttons">
			<button class="resistance-button" id="resistance-escape">Give Up</button>
			<dialog id="resistance-input-error">The resistance is {shortenedResistance}Ωs</dialog>
			<a href="/game">
				<button class="resistance-button" id="resistance-next">Go Next</button>
			</a>
		</div>
	</main>
</Layout>

<script define:vars={{ BANDS, RESISTANCE }} type="module">
	document.getElementById("resistance-escape").addEventListener("click", giveUp)
	
	function giveUp() {
		document.getElementById("resistance-input-error").show();
		document.getElementById("resistance-input").classList.add("incorrect");
		document.getElementById("resistance-input").classList.remove("correct");

		document.getElementById("resistance-submit").removeEventListener("click", submitAnswer);
	}

	document.getElementById("resistance-submit").addEventListener("click", submitAnswer)
	
	function submitAnswer() {
		let resistanceAnswer = 0;
		if(BANDS == "3" || BANDS == "4") {
			resistanceAnswer = (Math.round(Number(RESISTANCE)/Math.pow(10, (RESISTANCE.length-2)))*Math.pow(10, (RESISTANCE.length-2))).toString();
		} else if(BANDS == "5") {
			resistanceAnswer = (Math.round(Number(RESISTANCE)/Math.pow(10, (RESISTANCE.length-3)))*Math.pow(10, (RESISTANCE.length-3))).toString();
		}

		let userInput = document.getElementById("resistance-input").value;
		let finalUserValue = 0; 
		if(userInput.match("^[0-9.]+[0-9kKmMgG]?$")) {
			if(!userInput.slice(-1).match([0-9])) {
				let userMultiplier = userInput.slice(-1).toLowerCase();
				const suffixToMultiplier = {
					"k": Math.pow(10,3),
					"m": Math.pow(10,6),
					"g": Math.pow(10,9),
				}
				userInput = userInput.slice(0, -1);
				finalUserValue = (Number(userInput)*suffixToMultiplier[userMultiplier]);
			} else {
				finalUserValue = number(userInput);
			}

			if(finalUserValue != resistanceAnswer) {
				document.getElementById("resistance-input").classList.add("incorrect")
				document.getElementById("resistance-input").classList.remove("correct")
			} else {
				document.getElementById("resistance-escape").removeEventListener("click", giveUp);
				document.getElementById("resistance-input").classList.add("correct")
				document.getElementById("resistance-input").classList.remove("incorrect")
			}
		} else {
			document.getElementById("resistance-input").classList.remove("correct")
			document.getElementById("resistance-input").classList.remove("incorrect")
		}
	}
</script>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		color: white;
		font-size: 20px;
		line-height: 1.6;
		text-align: center;
		justify-content: center;
		align-items: center;
	}

	#home-button {
		width: 4%;
		height: auto;
		position: absolute;
		top: 2%;
		left: 2%;
	}

	#resistor-holder {
		width: max-content;
		margin: auto;
	}

	#resistance-input {
		height: 24px;
		width: 120px;
		font-size: 18px;
		margin-right: 4px;
		text-align: right;
		font-family: system-ui, sans-serif;
		font-weight: 600;
	}

	#resistance-input:invalid {
		border-color: red;
	}

	.resistance-button {
		margin: 0;
		padding: 0;
		width: 96px;
		height: 48px;
		font-size: 18px;
		border: none;
		border-radius: 5px;
		transition: background-color 100ms ease-in-out;
		cursor: pointer;
		font-family: system-ui, sans-serif;
		font-weight: 600;
		color: white;
	}

	#resistance-submit {
		background-color: rgb(35, 38, 45);
	}

	#resistance-submit:hover {
		background-color: rgb(57, 67, 86);
	}

	#resistance-submit:active {
		background-color: #303644;
	}
	
	#resistance-escape {
		background-color: #dd5444;
	}

	#resistance-escape:hover {
		background-color: #e85d55;
	}

	#resistance-escape:active {
		background-color: #e24848;
	}

	#resistance-next {
		background-color: #77dd44;
	}

	#resistance-next:hover {
		background-color: #86e855;
	}

	#resistance-next:active {
		background-color: #7ce248;
	}

	#resistance-input-holder {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#resistance-input-holder label {
		margin-right: 8px;
		height: max-content;
	}

	.correct {
		background-color: rgb(172, 226, 172);
		border-color: greenyellow;
	}

	.incorrect {
		background-color: rgb(240, 180, 180);
		border-color: red;
	}

	#resistance-extra-buttons {
		margin-top: 24px;
	}

	@media only screen and (max-width: 600px) {
		#home-button {
			width: 25%;
			height: auto;
			position: absolute;
			top: 2%;
			left: 2%;
		}

		.resistance-button {
			width: 164px;
			height: 96px;
			font-size: 32px;
		}

		#resistance-input {
			height: 64px;
			width: 160px;
			font-size: 28px;
		}

		#resistance-input-holder label {
			font-size: 28px;
		}
	}
</style>
