---
import Resistor from '../components/Resistor.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Test your Resistors">
	<main>
		<div id="resistor-holder">
			<Resistor 
				bands={(Math.round(Math.random()*2)+3).toString()} 
				ohms={(Math.round(Math.random()*Math.pow(10, 9))).toString()} 
				tolerance={["1%", "2%", "0.05%", "0.02%", "0.5%", "0.25%", "0.1%", "0.01%", "5%", "10%"][Math.round(Math.random()*10)]}
			/>
		</div>
		<label><input type="number" placeholder="Resistance"/></label>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		text-align: center;
	}

	#resistor-holder {
		width: max-content;
	}
</style>
