---
import Button from '../components/Button.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Test your Resistors">
	<main>
		<h1>Test your Resistors</h1>
		<p>A simple game to test your resistor knowledge</p>
		<ul role="list" class="link-card-grid">
			<Button href="/" title="Start" />
			<Button href="/" title="Options" />
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		text-align: center;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, 25%);
		gap: 1rem;
		padding: 0;
		margin-top: 4rem;
		justify-content: center;
	}
</style>
